@model PassionProject.Models.ProblemHoldsViewModel
@{
    ViewBag.Title = "ProblemId";
}

<h1>@Model.Problem.ProblemName- @Model.Problem.ProblemGrade</h1>
@Html.ActionLink("Edit", "/EditHolds/"+Model.Problem.ProblemID)
<div class="grid-container">
    @for (int y = 24; y >= 0; y--)
    {
        for (int x = 0; x <= 24; x++)
        {
            <div id="@($"{x}-{y}")" class="grid-item">O</div>
        }
    }
</div>
<table>
    <thead>
        <tr>
            <th>Position X</th>
            <th>Position Y</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var hold in Model.Holds)
        {
            <tr>
                <td>@hold.PositionX</td>
                <td>@hold.PositionY</td>
            </tr>
        }
    </tbody>

</table>

<script>
    // JavaScript code to change the inner HTML of the divs to img of a hold for each hold
    var holds = @Html.Raw(Json.Encode(Model.Holds));
    console.log(holds);
    for (var i = 0; i < holds.length; i++) {
        var hold = holds[i];
        var div = document.getElementById(hold.PositionX + "-" + hold.PositionY);
        //console.log(div);
        if (div != null) {
            div.innerHTML = "<img id=hold src=/Content/img/hold.png>";
        }
    }
</script>
